body {
  font-family: "Arial", sans-serif;
  margin: 2% 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  max-width: 100%;
  height: auto;
}

#codeEditorContainer {
  width: 100%;
  max-width: 70%;
  margin: 1% auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#codeEditor {
  width: 90%;
  min-height: 250px; /* Adjust the minimum height based on your preference */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  margin: auto;
}

#h1,
#explanation,
#correctAnswer {
  text-align: center;
  margin: 1% 0;
}
#explanation {
  width: 60%;
}

#correctAnswer {
  font-size: 1.2em;
  font-weight: bold;
}

#goodLuckParagraph {
  text-align: center;
  font-style: italic;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  #codeEditor {
    width: 100%;
    max-width: 90%;
  }

  #h1 {
    font-size: 1.5em;
  }

  #explanation,
  #goodLuckParagraph,
  #correctAnswer {
    font-size: 0.9em;
  }

  #explanation {
    width: 90%;
  }
}
